@model PotatoCatalog.Models.Tag

@using (Html.BeginForm("CreateTag","Tag",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    <div class="modal-body" style = "text-align: center">
        @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "text-align: center" })
        <div class="form-group">
            @Html.LabelFor(t => t.Name, new {@class = "control-label", @style = "text-align: center" })
            @Html.TextBoxFor(t => t.Name, new {@class = "form-control", @style = "text-align: center", id = "namebox"})
            @Html.ValidationMessageFor(t => t.Name, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input class="btn btn-primary" type="submit" value="Save" />
    </div>
}
