@model PotatoCatalog.Models.EditTagViewModel
@using (Html.BeginForm("EditTag", "Tag", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(t => t.Id)
    <div class="modal-body">
        <div class="form-group">
            @Html.LabelFor(t => t.Name, new {@class = "control-label"})
            @Html.TextBoxFor(t => t.Name, new {@class = "form-control", id = "namebox"})
            @Html.ValidationMessageFor(t => t.Name, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input class="btn btn-primary" type="submit" value="Save changes" />
    </div>
}
