@using System.Web.UI.WebControls
@using PagedList.Mvc
@model PagedList.PagedList<PotatoCatalog.Models.GameViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".gamebox").mouseenter(function () {
                $(this).find(".gameinfo").show();
            }).mouseleave(function () {
                $(this).find(".gameinfo").hide();
            });
        });
    </script>
}

<div style="margin-top: 15px; text-align: center">
    @using (Html.BeginForm("Index", "Catalog", FormMethod.Get))
    {
        @Html.TextBox("SearchString");<input type="submit" value="Search" class="btn btn-primary btn-xs" style="margin-left: 5px; margin-bottom: 5px;"/>
        <div>
            <b style="margin-right: 5px;">Search by</b>
            @Html.RadioButton("searchBy", "Title", new { @checked = "checked" })<text>Title</text>
            @Html.RadioButton("searchBy", "Tag")<text>Tag</text>
        </div>
    }
</div>
<div  style="text-align: center">
    @Html.PagedListPager(Model, page => Url.Action("Index", "Catalog",
    new { page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Games
</div>
<div class="col-md-12 col-xs-12"  style="margin: 10px;">
    @foreach (var item in Model)
    {
        <div data-id="@item.Id" class="col-md-4 col-sm-6 col-xs-8 " style="height: 280px; max-width: 400px;">
            <div class="text-center gamebox" style="margin: 10px;">
                <a class="col-md-12 col-xs-12 imageAndText" style="text-align: center; min-width: 260px;" href="@Url.Action("SingleGameView", "Game", new {id = item.Id})">
                    <h4 class="txt" style="margin-top: 10px; margin-left: 30px; font-weight: bolder; text-shadow: 0 0 15px #000000; color: #f8f8f8; z-index: 2; position: absolute">@item.Title</h4>
                    @if (string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="http://i.imgur.com/kuMCPit.jpg?1" alt="NoImage" class="img-responsive" style="outline: 1px solid orange; max-height: 200px;width: 100%; z-index: 1; position: relative"/>
                    }
                    else
                    {
                        <img src="@Url.Content(item.ImagePath)" alt="GameImage" class="img-responsive" style="outline: 1px solid orange; z-index: 1; position: relative"/>
                    }
                    <div class="gameinfo" style="outline: 1px solid orange; background-color: #fefefe; display: none; z-index: 50; position: relative">
                        <div style="color: black">
                            <div>
                                @Html.LabelFor(modelItem => item.Publisher)
                                @Html.DisplayFor(modelItem => item.Publisher)
                            </div>
                            <div>
                                @Html.LabelFor(modelItem => item.Developer)
                                @Html.DisplayFor(modelItem => item.Developer)
                            </div>
                        </div>
                        <div class="description col-md-12" style="color: black; background-color: #fefefe">
                            @item.Description
                        </div>
                    </div>
                </a>
            </div>
            <div class="tagcloud col-md-12" style="text-align: center">
                @foreach (var tag in item.Tags)
                {
                    @Html.ActionLink(tag.Name, "Index", "Catalog", new { searchBy = "Tag", searchString = tag.Name}, new { @class = "btn btn-primary btn-xs Tag", @style = "margin: 3px;" })
                }
            </div>
        </div>
    }
</div>

