@model IEnumerable<PotatoCatalog.Models.OrderViewModel>

@{
    ViewBag.Title = "Order History";
    ViewBag.Message = "All processed orders are here. To view Pending orders go to Manage Orders.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center">
    <h2>@ViewBag.Title</h2>
    <h4>@ViewBag.Message</h4>
    @Html.ActionLink("Manage Pending Orders", "ManagePendingOrders", "Order", new { @class = "btn btn-warning" })
</div>
<hr/>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>User E-mail</th>
        <th>Address</th>
        <th>Price in Potatoes</th>
        <th>Order Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>
                @order.UserEmail
            </td>
            <td>
                @order.Address
            </td>
            <td>
                @order.PriceInPotatoes
            </td>
            <td>
                @order.OrderStatus.ToString()
            </td>
            <td>@Html.ActionLink("details", "OrderDetails", "Order", new { orderId = order.Id, returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-info btn-xs" })</td>
        </tr>
    }
    </tbody>
</table>

