@using System.Drawing
@model PotatoCatalog.Models.CompleteGameViewModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@Html.DisplayFor(model => model.Title)</h2>
<hr />
<div class="row">
    <div class=" col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Publisher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Publisher)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Developer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Developer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Editions)
                </dt>
                @foreach (var edition in Model.Editions)
                {
                    using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        <dd class="col-md-12 dropdown" style="margin: 3px;">
                            @Html.Hidden("gameEditionId", edition.Id)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input type="submit" class="btn btn-primary" value="Add to cart" />
                            <a class="dropdown-toggle" data-toggle="dropdown" style="margin: 5px">
                                <span class="caret"></span>
                                @edition.EditionTitle
                                @*Place add to cart logic here*@
                            </a>
                            <a style="font-weight: bold; color: black;">
                                Price in Potatoes: @edition.PriceInPotatoes
                            </a>
                            <ul class="dropdown-menu editionContents ">
                                <li>
                                    <p class="td" style="margin: 7px">@edition.Contents</p>
                                </li>
                            </ul>
                        </dd>
                    }
                }
            @if (this.User.IsInRole("Admin"))
            {
                <dt>@Html.ActionLink("Edit Game", "EditGame", "Game", new { id = Model.Id }, new { @class = "btn btn-primary edit", @style = "margin: 5px;" })</dt>
            }
        </dl>
    </div>
    <div class="col-md-6">
        @if (string.IsNullOrEmpty(Model.ImagePath))
        {
            <img class="thumbnail" src="~/images/noImage.jpg" alt="NoImage" style="width: 80%;"/>
        }
        else
        {<div>
             <img class="thumbnail img-responsive" src="@Url.Content(Model.ImagePath)" alt="GameImage"/>
         </div>
        }
        <div>
            <a style="font-weight: bold; color: black">
                @Html.DisplayNameFor(model => model.Tags)
            </a>
            @foreach (var tag in Model.Tags)
            {
                @Html.ActionLink(tag.Name, "Index", "Catalog", new { searchBy = "Tag", searchString = tag.Name }, new { @class = "btn btn-primary btn-xs Tag", @style = "margin: 3px;" })
            }
        </div>
    </div>
</div>
