@model IEnumerable<PotatoCatalog.Models.EditionViewModel>
@{
    ViewBag.Title = "Manage Editions";
    ViewBag.Message = "You will be able to select any of the existing edition types, when creating specific game editions.";
    ViewBag.Message2 = "Any changes to the editions table will reflect on all games with that edition.";
    ViewBag.Message3 = "Editions that are being used cannot be deleted.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    @*Create jquery+ajax*@
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).on('click', '.create', function(e) {
                e.preventDefault();
                var _self = $(this);
                var tagId = _self.data('id');
                $("#edit-modalLabel").text("Create a new Edition");
                var dataUrl = _self.data('url');

                $.ajax({
                    type: 'GET',
                    url: dataUrl,
                    cache: false,
                    success: function(e) {
                        var content = [];
                        content.push(e);

                        $('#manage-modal .modal-data').html(content.join(''));
                        $(_self.attr('href')).modal('show');
                    },
                    error: function() {}
                });
                return;
            });
        });
    </script>
@*Edit jquery+ajax*@
<script type="text/javascript">
        $(document).ready(function() {
            $(document).on('click', '.edit', function(e) {
                e.preventDefault();
                var _self = $(this);
                var tagId = _self.data('id');
                $("#edit-modalLabel").text("Edit Edition ID: " + tagId);
                var dataUrl = _self.data('url');

                $.ajax({
                    type: 'GET',
                    url: dataUrl,
                    cache: false,
                    success: function(e) {
                        var content = [];
                        content.push(e);

                        $('#manage-modal .modal-data').html(content.join(''));
                        $(_self.attr('href')).modal('show');
                    },
                    error: function() {}
                });
                return;
            });
        });
</script>
@*Delete jquery+ajax*@
<script type="text/javascript">
        $(document).ready(function() {
            $(document).on("click", ".delete", function(e) {
                e.preventDefault();
                var _self = $(this);
                var tagId = _self.data("id");
                $("#edit-modalLabel").text("Delete Edition ID: " + tagId);
                var dataUrl = _self.data("url");

                $.ajax({
                    type: "GET",
                    url: dataUrl,
                    cache: false,
                    success: function(e) {
                        var content = [];
                        content.push(e);

                        $("#manage-modal .modal-data").html(content.join(""));
                        $(_self.attr("href")).modal("show");
                    },
                    error: function() {}
                });
                return;
            });
        });
</script>
}

<div style="text-align: center">
    <h2>@ViewBag.Title</h2>
    <h4>@ViewBag.Message</h4>
    <h4>@ViewBag.Message2</h4>
    <h4>@ViewBag.Message3</h4>
    <a class="btn btn-warning create" data-url="@Url.Action("CreateEdition","Edition")" href="#manage-modal">Create a new Edition</a>
</div>
<hr/>
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Name</th>
        <th>Instances</th>
    </tr>
    <thead/>
    <tbody>
    @foreach (var edition in Model)
    {
        <tr>
            <td>
                @edition.Name
            </td>
            <td>
                @edition.Instances
            </td>
            <td>
                @if (edition.Instances<1)
                {

                    <a class="btn btn-primary btn-xs delete" data-id="@edition.Id" data-url="@Url.Action("DeleteEdition", "Edition", new {Id = edition.Id})" href="#manage-modal">delete</a>
                }
                <a class="btn btn-primary btn-xs edit" data-url="@Url.Action("EditEdition", "Edition", new {Id = edition.Id})" href="#manage-modal" data-id="@edition.Id">edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="modal fade col-md-offset-5 col-md-2" style="margin-top: 50px;" id="manage-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="edit-modalLabel">Tag modal</h4>
        </div>
        <div class="modal-data">

        </div>
    </div>
</div>

