@using PagedList.Mvc
@model PagedList.PagedList<PotatoCatalog.Models.UserTableViewModel>

@{
    ViewBag.Title = "Manage Accounts";
    ViewBag.Message = "You can view accounts and preview their orders here.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @*add potatoes*@
    <script type="text/javascript">
        $(document).ready(function() {
            $(".potatoes").click(function(e) {
                e.preventDefault();
                var _self = $(this);
                var dataUrl = _self.data('url');
                var dataId = _self.data('id');
                    $.ajax({
                        type: "POST",
                        url: dataUrl,
                        cache: false,
                        data: { id: dataId },
                        success: function(r) {
                            if (r.Status === "success") {
                                var potatoes = r.Value;
                                var td = _self.closest('td');
                                $(td).siblings('td.potatoes-td').html(potatoes);
                            }
                    },
                    error: function (){}
                });
            });
        });
    </script>
}
<div style="text-align: center">
    <h2>@ViewBag.Title</h2>
    <h4>@ViewBag.Message</h4>
</div>
<div style="margin: 10px; text-align: center">
    @using (Html.BeginForm("ManageAccounts", "Admin", FormMethod.Get))
    {
        @Html.TextBox("SearchString")
        ;<input type="submit" value="Search" class="btn btn-primary btn-xs" style="margin-left: 5px; margin-bottom: 5px;"/>
    }
</div>
<div style="text-align: center">
    @Html.PagedListPager(Model, page=>Url.Action("ManageAccounts", "Admin",
    new {page, pageSize = Model.PageSize}))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Accounts
</div>
<table class="table table-striped table-hover">
    <thead>
    <tr style="font-weight: bold">
        <th>E-mail</th>
        <th>Potatoes</th>
        <th>Number of Orders</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var account in Model)
    {
        <tr>
            <td>
                @account.Email
            </td>
            <td class="potatoes-td">
                @account.Potatoes
            </td>
            <td>
                @account.NumberOfOrders
            </td>
            <td>
                <button class="btn btn-primary btn-xs potatoes" data-id="@account.Id" data-url="@Url.Action("Give300Potatoes", "Admin")">+300 potatoes</button>
                @if (account.NumberOfOrders > 0)
                {
                    @Html.ActionLink("orders", "ManageAccountOrders", "Admin", new {id = account.Id}, new {@class = "btn btn-primary btn-xs orders"})
                }
            </td>
        </tr>
    }
    </tbody>
</table>
